/* .SearchBox1{
    justify-content: center;
    display: flex;
    margin-bottom: 25px ;
} */


/* .SearchBox1 {
  margin: 20px;
  text-align: center;
} */

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
